body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    margin: 0;
    text-align: center;
    color: black;
    background-color:whitesmoke;
}

h1{
    display:flex;
    color:black;
}

nav{
    display: flex;
    gap: 2rem;
    margin-left: 2rem;
    
}

.btn{
    border-radius: 5rem;
    color: black;
    background-color: whitesmoke;
    border-color: black;
}

.btn:hover{
    background-color: gray;
}